{% extends "base.html" %}
{% set active_page = "Admin" %}
{% block content %}
<ul>
<li><a href="/logout">Logout</a>
<li><a href="/error-on-purpose">Error on Purpose</a>
<li><a href="/testdb">Test Database</a>
<li><a href="/testrsvp">Test RSVP</a>
<li><a href="/testemailthankyou">Test rsvp email</a>
<li><a href="/change-rsvp">Change your RSVP</a>
<li><a href="/trk?gid=d2b13&p=3">Email Click</a>
<li><a href="/view-guest-list">View Guest List</a>
<li><a href="/schedule-test">Schedule TEST</a>
</ul>
{% endblock %}
