<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>News | Simiot, Bootstrap theme</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="ppparticularity.com" name="author">
  <link href="css/style-t4.css" rel="stylesheet">
  <script src="js/libs/modernizr.min.js"></script>
  <link href="ico/favicon.ico" rel="shortcut icon">
  <link href="ico/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="ico/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="ico/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
</head>
<body class="news">
  <!-- .................................... $header .................................... -->
  <header class="navbar-fixed-top">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <i class="icon-reorder"></i>
          </a>
          <a class="brand span3" href="index.html">
<!--            <img alt="" src="img/logo-t1.png">-->
          </a>
          <nav class="nav-collapse collapse">
            <ul class="nav primary-nav pull-left">
              <li><a href="index.html">D&C</a></li>
              <li class="active"><a href="schedule.html">Schedule</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Travel
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="gettinghere.html">Getting Here</a></li>
                  <li><a href="stayinghere.html">Staying Here</a></li>
                  <li><a href="gettingaround.html">Getting Around</a></li>
                </ul>
              </li>              
              <li><a href="rsvp.html">RSVP</a></li>
			  <li><a href="photos.html">Photos</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  More Information
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="explore.html">Explore</a></li>
                  <li><a href="weather.html">Weather</a></li>
                  <li><a href="maps.html">Maps</a></li>
                  <li><a href="registry.html">Registry</a></li>
                </ul>
              </li>
              <li><a href="http://trikeorama.com/wedding/dev/one-page-wonder.pdf">One Page Wonder</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- .................................... $schedule .................................... -->
  <section class="section-content section-news" id="section-news">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span4">
              <h2>
                Friday, May 23rd
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="span4" align="center">
              <h3>
                12:00pm - 5:00pm
              </h3>
            </div>
            <div class="span8">
              <h3> 
                <a href="winetasting.html">Wine Tasting </a>
				</h3>
              <p>This is choose a your own adventure! We have compiled a list of wineries that are in and around Petaluma and Sonoma and offer free or inexpensive tastings.  We have also included information on bike rentals and a suggested driving route (with a designated driver!).</p>
            </div>
          </div>
		  <br>
		  <br>
          <div class="row">
            <div class="span4" align="center">
              <h3>
                7:00pm - 10:00pm
              </h3>
            </div>
            <div class="span8">
              <h3>
                Dinner
              </h3>
              <p>For those of you that have made your way to Petaluma already, we will be gathering for an informal take out potluck of sorts.</p>
			  <p> <a href="htttp://maps.google.com">Directions </a> </p>
			</div>
          </div>
          <hr>
          <div class="row">
            <div class="span4">
              <h2>
                Saturday, May 24th
              </h2>
            </div>
            <div class="span8">
            </div>
          </div>
          <div class="row">
            <div class="span4" align="center">
              <h3>
                9:00apm - 4:00pm
              </h3>
            </div>
            <div class="span8">
              <h3> 
                <a href="http://www.nps.gov/pore/planyourvisit/upload/map_trailsnorth.pdf">Hike</a>
				</h3>
              <p>Meeting points at the three main hotels will be arranged to carpool to Point Reyes.  We will drive 30 mins to Pt Reyes and then Hike one of our favorite hikes to Sculpure Beach.  Please bring layers/sunscreen and at least 1 liter of water and a light lunch.</p>
            </div>
          </div>
		<br>
		<br>
          <div class="row">
            <div class="span4" align="center">
              <h3>
                9:00am - 1:00pm
              </h3>
            </div>
            <div class="span8">
              <h3> 
                <a href="http://www.mapmyride.com/us/petaluma-ca/petaluma-to-pt-reyes-route-166477880">Bike </a>
				</h3>
              <p>Bike to Pt Reyes?</p>
            </div>
          </div>
		<br>
		<br>
          <div class="row">
            <div class="span4" align="center">
              <h3>
                12:00pm - 2:00pm
              </h3>
            </div>
            <div class="span8">
              <h3> 
                <a href="http://www.greenstringfarm.com/index.php?option=com_content&view=article&id=71&Itemid=64">Farm Tour</a>
				</h3>
              <p>RSVP is necessary to make sure there is room for all of us!</p>
			  <p> <a href="htttp://maps.google.com">Directions </a> </p>
			</div>
          </div>
		<br>
		<br>
          <div class="row">
            <div class="span4" align="center">
              <h3>
                7:00pm - 11:00pm
              </h3>
            </div>
            <div class="span8">
              <h3> 
                <a href="http://brixxpizzeria.com/parties.html">"Rehearsal" Dinner </a>
				</h3>
              <p>No rehearsal but plenty of reasons to gather and meet before the wedding.</p>
			  <p> <a href="htttp://maps.google.com">Directions </a> </p> 
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="span4">
              <h2>
                Sunday, May 25th
              </h2>
            </div>
            <div class="span8">
              <h3>
                <a href="news-item.html">Ipsa exercitationem</a>
              </h3>
              <p>Ipsum magnam eligendi autem vitae vel nesciunt debitis suscipit illum quod eius optio in nam laboriosam quam distinctio ipsa accusamus architecto est.</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="span4">
              <h2>
                Monday, May 26th
              </h2>
            </div>
            <div class="span8">
              <h3>
                <a href="news-item.html">Nam obcaecati</a>
              </h3>
              <p>Sapiente delectus asperiores mollitia odio laborum fugit ipsam pariatur enim architecto totam eius inventore. Consequatur quasi cum excepturi recusandae  eligendi dicta.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- .................................... $footer .................................... -->
  <footer class="section-color-primary">
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="widget">
            <address>
              <strong>David & Carolyn</strong>
              <br>
              San Francisco, CA
              <br>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- .................................... $post-footer .................................... -->
  <div class="post-footer section-content section-content-mini section-color-graydark">
    <div class="container">
      <p class="pull-right">
        Designed by
        <a href="http://ppparticularity.com">ppparticularity</a>
      </p>
      <p>&copy; Simiot 2013 - All rights reserved</p>
    </div>
  </div>
  <!-- .................................... $scripts .................................... -->
  <script src="js/libs/jquery.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="js/libs/jquery.ui.map.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/libs/jquery.fancybox.min.js"></script>
  <script src="js/libs/jquery.hoverdir.min.js"></script>
  <script src="js/libs/jquery.isotope.min.js"></script>
  <script src="js/libs/jquery.masonry.min.js"></script>
  <script src="js/libs/jquery.fitvids.min.js"></script>
  <script src="js/libs/jquery.flexslider.min.js"></script>
  <script src="js/script.js"></script>
</body></html>