{% extends "base.html" %}
{% set active_page = "D&C" %}
{% block content %}
 <section class="section-content section-news" id="section-news">
    <div class="container">
      <div class="row">
        <div class="span8 offset2">


	<form action="/rsvp" method="post">
		<p><b>Hi David and Carolyn!</b></p> </br>
		<p>Please let us know if you will be able join us for our wedding on Sunday, May 25th.</p>
		</br>
	<div style="display:none;">
	<input id="csrf_token" name="csrf_token" type="hidden" value="1393569314.88##9644f911312ddd20f79cedf7535328c0a4188f8e">
</div>
<table border=1 cellpadding="5">
<tr>
<th width="300"><b>Guest</b></th>
<th width="200">Accepts, with pleasure</th>
<th width="200">Declines, with regrets</th></tr>
<tr><td align="center">
Carolyn White
</td>
<td align="center"><input type="radio" name="guest1" value="1"/></td>
<td align="center"><input type="radio" name="guest1" value="0"/></td>
</tr>
<tr><td align="center">
David Bianco
</td>
<td align="center"><input type="radio" name="guest2" value="1"/></td>
<td align="center"><input type="radio" name="guest2" value="0"/></td>
</tr>
</table>
<br/>

    <div class="row">
        <div class="span3">
        When will you be arriving? 
		</div>
		<div class="span5">
		<select id="arrival_date" name="arrival_date">
		<option value="na">Please select a date</option>
		<option value="notsure">I don't know yet</option>
		<option value="before">Before Friday May 23rd</option>
		<option value="friday">On Friday May 23rd</option>
		<option value="saturday">On Saturday May 24th</option>
		<option value="sunday">On Sunday May 25th</option>
		</select>
		</br>
		<select id="arrival_time" name="arrival_time">
		<option value="na">Please select a time</option>
		<option value="morning">Morning</option>
		<option value="afternoon">Afternoon</option>
		<option value="evening">Evening</option>
		</select>
		</div>

	</div>
</br>
    <div class="row">
        <div class="span5">
        Are you intersted in Child Care during the wedding?  
		</div>
		<div class="span3">
		<table>
		<tr>
		<td align="center" width="75">
		<input id="child_care-0" name="child_care" type="radio" value="1">
		<label for="child_care-0">Yes</label>
		</td>
		<td align="center" width="75">
		<input id="child_care-1" name="child_care" type="radio" value="0">
		<label for="child_care-1">No</label>
		</tr>
		</table>
		
		</div>
	</div>
	
	
	</br>

<div class="row">

	<div class="span5">
	<p>Comments or questions?</p>
	<textarea id="notebox" class="span5" rows="5" name="notebox"></textarea>
	</div>
	<div class="span2 offset1" align="center">
	<br>
	<input class="btn btn-small btn-primary" id="submit" name="submit" type="submit" value="Submit RSVP">
	<br>
	<br>
	Please RSVP by Friday, April 25th!
	</div>

</div>
	
	</form>
</div>
</div>
</div>
</section>




        </div>
      </div>
    </div>
  </section>
{% endblock %}
