{% extends "base.html" %}
{% set active_page = "D&C" %}
{% block content %}
 <section class="section-content section-news" id="section-news">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span4">
		<h3>Our Website</h3>
	    </div>
            <div class="span8">
  		We built it ourselves! 
Thanks to <a href="http://www.dreamhost.com/r.cgi?213726">dreamhost.com</a> for the hosting and <a href="http://ppparticularity.com">ppparticularity</a> for the simiot template which uses Bootstrap CSS.  
We coded the site using the <a href="http://flask.pocoo.org">Flask python framework</a> and a <a href="http://www.mysql.com">MySQL database.</a>
	    </div>
          </div>
{#
<pre>
Our Venue -- Westerbeke Ranch
Westerbeke Ranch was fantastic!  blah, blah.   Maragaret, Celeste, John

Our Photographer --

Our Briday Party --
  Best Man
  Bride's Maid

Our Officiant --

Our families --

Special thanks to our helpers! --

Our music --

Our wine and beer --

Our Saturday dinner --

Our event locations --

Our hotels --
#}




        </div>
      </div>
    </div>
  </section>
{% endblock %}
