{% extends "base.html" %}
{% set active_page = "Local Info" %}
{% block content %}
  <!-- .................................... $explore .................................... -->
  <section class="section-content section-news" id="section-news">
    <div class="container">
      <div class="row">
        <div class="span12">
		<div class="row">
			<div class="span4">
			<h3> Explore San Francisco </h3>
			</div>
		</div>
		<div class="row">
			<div class="span8 offset2">
			<p><b> Have some extra time on your hands or exploring San Francisco before or 
			after the wedding?  Here are some ideas to get you going, which you may or 
			may not find in a traditional guide book.</b></p>
			<p align="center"> <a href=#chocolate>Chocolate </a> &nbsp; - &nbsp; 
			<a href=#icecream> Ice Cream </a>&nbsp; - &nbsp; 
			<a href=#parks>Parks </a>&nbsp; - &nbsp; 
			<a href=#misc>Miscellaneous </a> </p>
			</div>
          </div>
          <hr>
<a name="chocolate"></a>
		  <div class="row">
            <div class="span3">
              <h3>
                Chocolate Tour
              </h3>
            </div>
            <div class="span9">
              <p> <b>
                This list was compiled in the February 2014 issue of San Francisco Magazine.</b>
              </p>
			  <p> <a href="https://mapsengine.google.com/map/edit?mid=z12SzOS65AMk.kSS5S1wGKMdk" target="_blank"> 
			  Map of all listed businesses </a> </p></br>
            </div>          
		</div>
          <div class="row">
            <div class="span10 offset2">
              <p><b> b. Patisserie:</b> macaroon "chocolate box" </br>
				<b>Fournee Bakery:</b> chocolate cone </br>
				<b>Delise Dessert Cafe:</b> s'more bar </br>
				<b>Local Mission Market:</b> Mexican chocolate cookie</br>
				<b>Le Dix-Sept Patisserie:</b> rose chocolate tarte </br>
				<b>Little Bee Baking:</b> chocolate sea salt cookie </br>
				<b>Le Marais Bakery:</b> chocolate lemon entremets </br>
				<b>Craftsman and Wolves:</b> chocolate, arbol chile, croissant bar </br>
				<b>Flour & Co:</b> chocolate peanut butter sandwich cookie </br>
				<b>Pinkie's Bakery:</b> whoopie pie </br>
				<b>Dandelion Chocolate:</b> PB&J sandwich </br>
			  </p>
			</div>
          </div>
<a name="icecream"></a>
		  <hr>
		  <div class="row">
            <div class="span3">
              <h3>
                Ice Cream Tour
              </h3>
            </div>
            <div class="span9">
              <p><b>
                Between David and Carolyn, each one of these establishments have been verified.  It's all good.</b>
              </p>
			  <p> <a href="https://mapsengine.google.com/map/edit?mid=z12SzOS65AMk.kruDMf1tt0t4" target="_blank"> 
			  Map of all listed businesses </a> </p></br>
            </div>          
		</div>
          <div class="row">
            <div class="span10 offset2">
              <p>
				<b>Humphry Slocombe:</b> Carolyn's favorite flavor is Secret Breakfast </br>
				<b>Bi-rite Creamery:</b> Famed for the Salted Caramel Flavor and long lines </br>
				<b>Easy Breezy:</b> Serve yourself frozen yoghurt and custard  </br>
				<b>Mitchell's:</b> If you favor more traditional flavors </br>
				<b>Swensons:</b> If you like to ride the street cars to get your ice cream </br>
				<b>Smitten Ice Cream:</b> If you like your ice cream custom made </br>
				<b>The Ice Cream Bar:</b> Go back in time for an authentic soda fountain experience </br>
				<b>Toy Boat Desser Cafe:</b> Again, a more traditional ice cream shop </br>
			  </p>
			</div>
          </div>
<a name="parks"></a>
		  <hr>
		  <div class="row">
            <div class="span3">
              <h3>
                Selected Parks
              </h3>
            </div>
            <div class="span9">
              <p> <b>
                Here are just a few of San Francisco’s many parks.</b>
              </p>
			  <p> <a href="https://mapsengine.google.com/map/edit?mid=z12SzOS65AMk.kRNV4YXI-ppc" target="_blank"> 
			  Map of all listed parks </a> </p></br>
            </div>          
		</div>
          <div class="row">
            <div class="span10 offset2">
              <p><b>Dolores Park:</b> All of San Francisco's neighborhoods and groups in one park.  
			  Grab a bite nearby and bring it to the park to enjoy.  If you climb to the top, you 
			  get a great view of downtown. </p>
			  <p><b>Golden Gate Park:</b> You can spend an entire day (or two) just in this park.  
			  Many of the roads are closed to traffic on the weekends leave it a perfect place to bike,
			  run or walk.  The De Young Museum and the California Academy of Science call the park home
			  as does the Japanese Tea Garden and the Conservatory of Flowers.</P>
			  <p><b>The Presidio:</b> A former military base, this park is slowly but surely being 
			  transformed. People still live, work and play here.  You can get great views of the 
			  Golden Gate Bridge from Crissy Field and you will see lots of people who have rented 
			  bikes to bike over the bridge and back (or taking a ferry back from Sausalito).</p>
			  <p><b>Glen Park Canyon:</b> This is a more rugged park, great for hiking and feeling 
			  like you have left the city behind.</p>
			  <p><b>Bernal Hill Park:</b> You and a one hundred of the city's canine residents will 
			  enjoy a great 360 degree view of San Francisco and the surrounding area.  On a clear day
			  you can see both the Golden Gate and Bay bridges as well as Mount Tamalpais to in the north
			  bay and Mount Diablo in the east bay. </p>
			</div>
          </div>
<a name="misc"></a>
		  <hr>
		  <div class="row">
            <div class="span3">
              <h3>
                Miscellaneous
              </h3>
            </div>
            <div class="span9">
              <p><b>
                Places or activies we think are worth mentioning...</b>
              </p>
            </div>          
		</div>
          <div class="row">
            <div class="span10 offset2">
              <p><a target="_blank" href="http://www.duartestavern.com/">Duarte's Tavern:</a> Take a drive south along
			  the coast to Pescadero for pie.</p>
			  <p><a target="_blank" href = "http://www.pelicaninn.com/">Pelican Inn:</a> Take a drive north along
			  the coast to Pelican Inn for a drink in a snug.</P>
			  <p><a target="_blank" href="http://www.sfcityguides.org/">Walking Tours:</a> Even locals will learn something on these tours.</p>
			  <p><a target="_blank" href="http://www.google.com/url?q=http%3A%2F%2Fwww.sanfrancisco.com%2Fattractions%2Fmurals.html&sa=D&sntz=1&usg=AFQjCNGfjj6v8OqLr07CUHsi9ayObBn0kw">
			  San Francisco Murals:</a> Always colorful, usually with a message.</p>
			</div>
          </div>
		  <hr>
		  </div>
      </div>
    </div>
  </section>

{% endblock %}

