{% extends "base.html" %}
{% set active_page = "Local Info" %}
{% block content %}
  <!-- .................................... $explore .................................... -->
  <section class="section-content section-news" id="section-news"> 
    <div class="container">
      <div class="row">
        <div class="span12">
		<div class="row">
			<div class="span4">
			<h3> Explore Sonoma County </h3>
			</div>
		</div>
		<div class="row">
			<div class="span8 offset2">
			<p> <b> We have compiled a great list of choose your own adventure activities.  
			If/when any of these turn into a more organized outing, we will move 
			them over to the main schedule.  Please let us know if you are particularly 
			interested in any of the following. </b></p>
			<p align="center"> <a href=#wine>Wine Tasting </a> &nbsp; - &nbsp; 
			<a href=#farm> Farm Tours </a>&nbsp; - &nbsp; 
			<a href=#hike>Hiking </a>&nbsp; - &nbsp; 
			<a href=#bike>Biking </a> </p>
			</div>
          </div>
          <hr>
<a name="wine"></a>
		  <div class="row">
            <div class="span4">
              <h3>
                Wine Tasting
              </h3>
            </div>
            <div class="span8">
              <p> <b>
                This is wine country so you can drive down almost any road and you
				will find a winery or vineyard.  The list below is by no means 
				comprehensive but we have been to and enjoyed almost all of the places
				listed. The places listed are also closer to Petaluma.  If you wish to 
				go further afield in Sonoma or even Napa or further north to Healdsburg 
				you will also find plenty of options.
              </b></p>
			  <p> <a href="https://mapsengine.google.com/map/edit?mid=z12SzOS65AMk.kr74uDr5v5wI" target="_blank"> 
			  Map of listed wineries </a> </p></br>
            </div>          
		</div>
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://larsonfamilywinery.com/" target="_blank">Larson Family Winery</a>
              </h4>
            </div>
            <div class="span8">
              <p> 23355 Millerick Road </br>
				Sonoma, CA 95476 </br>
				(707) 938-3031
			  </p>
			</div>
          </div>
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://clinecellars.com/" target="_blank">Cline Cellars </a>
              </h4>
            </div>
            <div class="span8">
              <p> 24737 Arnold Drive </br>
				Sonoma, CA 95476 </br>
				(707) 940-4000
			  </p>
			</div>
          </div>          
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://ravenswoodwinery.com/" target="_blank">Ravenswood Winery </a>
              </h4>
            </div>
            <div class="span8">
              <p> 18701 Gehricke Road </br>
				Sonoma, CA 95476 </br>
				(888) 669-4679
			  </p>
			</div>
          </div>          
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://homewoodwinery.com" target="_blank">Homewood Winery </a>
              </h4>
            </div>
            <div class="span8">
              <p> 23120 Burndale Road</br>
				Sonoma, CA 95476 </br>
				(707) 996-6353
			  </p>
			</div>
          </div>          
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://kellerestate.com" target="_blank">Keller Estate </a>
              </h4>
            </div>
            <div class="span8">
              <p> 5875 Lakeville Hwy</br>
				Petaluma, CA 94954 </br>
				(707) 765-2117
			  </p>
			</div>
          </div>          
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://anabawines.com" target="_blank">Anaba Wines</a>
              </h4>
            </div>
            <div class="span8">
              <p> 60 Bonneau Rd</br>
				Sonoma, CA 95476  </br>
				707.996.4188 
			  </p>
			</div>
          </div>          
<a name="farm"></a>
		  <hr>

		  <div class="row">
            <div class="span4">
              <h3>
                Farm Tours
              </h3>
            </div>
            <div class="span8">
              <p><b>
                This is also farm country and driving around you will see lots of working farms.  A few
				open their doors for tours and the following three farms cover your basics! The descriptions
				are adapted from their websites.</b>
              </p>
			  <p> <a href="https://mapsengine.google.com/map/edit?mid=z12SzOS65AMk.kV-DesD7ZTHk" target="_blank"> Map of listed farms </a> </p></br>
            </div>          
		</div>
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://tarafirmafarms.com/" target="_blank">Tara Firma Farms</a>
              </h4>
            </div>
            <div class="span8">
              <h5> Saturday and Sunday at 10 am, noon and 2pm. No reservations required. </h5> 
				<p> We invite you for a fun day enjoying the sun alongside happy piglets playing in the 
				field and baby chicks that can fit into the palm of your hand. Take advantage of this 
				wonderful opportunity to see a fully operational example of what sustainable farming 
				looks like. </p>
			</div>
          </div>
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://greenstringfarm.com" target="_blank">Green String Farm </a>
              </h4>
            </div>
            <div class="span8">
              <h5> Saturday at noon. No reservations required. </h5> 
				<p> We love to share the work we do at Green String Farm with the community.
				See our grounds, hear about our farming practices, and learn about soil 
				improvement and responsible land stewardship. We believe there is no 
				border between Nature and agricultural space, and everyone can cultivate
				land the Green String way. </p>
			</div>
          </div>          
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://mcclellandsdairy.com" target="_blank">McClelland's Dairy</a>
              </h4>
            </div>
            <div class="span8">
              <h5>Time(s) TBD. Reservations required. </h5> 
				<p> Enjoy an afternoon in Sonoma County on the McClelland’s Dairy. Learn about the history
				of the farm, pet baby calves, see where adult cows sleep when they’re not out eating lush 
				pasture. Plus watch cows being milked in the parlor and milk a cow by hand! After the tour 
				you may enjoy a sample of the European Style Organic Artisan butter. Before you leave, take 
				a stroll through the Farm Store where products grown on the farm are sold. Reservations are 
				required and the tour is about 1.5 hours in length. </p>
			</div>
          </div>          
<a name="hike"></a>
		  <hr>
		  <div class="row">
            <div class="span4">
              <h3>
                Hiking
              </h3>
            </div>
            <div class="span8">
              <p><b>
                Again we are listing only a few possible hikes in the area.  There is a strong likelyhood 
				that one of these hikes will become a group activity. </b>
              </p>
			  <p> <a href="https://mapsengine.google.com/map/edit?mid=z12SzOS65AMk.khVmlzNSx6ao" target="_blank"> 
			  Map of listed hikes/parks </a> </p></br>
            </div>          
		</div>
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://www.everytrail.com/guide/london-lake-loop" target="_blank">London Lake Loop</a>
              </h4>
            </div>
            <div class="span8">
				<p> This loop walk will include portions of the Beauty Ranch, the London’s experimental
				farm, vineyard views, a redwood forest walk, and London Lake. The walk will also take one 
				to start-offs for several additional trails covering the bulk of Jack London SHP.</p>
				<p>Difficulty: Easy </br>
				Length: 2.5 miles / 4.0 km </br>
				Duration: 1-3 hours </br>
				Family Friendly </p>
			</div>
          </div>
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://parks.sonomacounty.ca.gov/Get_Outdoors/Parks/Helen_Putnam_Regional_Park.aspx" target="_blank">Helen Putnam Regional Park Trails</a>
              </h4>
            </div>
            <div class="span8">
				<p> Helen Putnam Regional Park lies just outside of Petaluma and offers a variety of terrain 
				across 5.87 miles of trail. Excellent views of Petaluma to the east and rural Sonoma County 
				to the west can be enjoyed from the Panorama Trail. The viewpoints may be accessed via a steep 
				climb up the trail from the parking lot, or a gentler approach via the paved Ridge Trail past 
				the Fish Pond. Fillaree, Pomo, and South Loop trails wind through forested areas offering shade 
				on hot summer days. Equestrians, hikers, and bikers are welcome on all trails.</p>
				<p>Length: 5.87 miles of trails </br>
				Parking: $7 per vehible for day use </p>
			</div>
          </div>
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="http://www.everytrail.com/guide/pt-reyes-hostel-to-the-coastal-trail" target="_blank">Point Reyes</a>
              </h4>
            </div>
            <div class="span8">
				<p> Pt Reyes Hostel to the Coastal Trail: There are many hiking trails to choose from in 
				Point Reyes.  This one brings you to coast from the Pt Reyes Hostel. Start your trip at the 
				trailhead at the rear of the hostel lot. The trail starts as dirt road and turns into a two 
				track before heading down hill for the last mile to the coastal trail.  The coast camp is 
				located just south on the coastal trail offering restrooms. Bring layers. </p>
				<p>Difficulty: Moderate </br>
				Length: 10.0 miles / 16.1 km </br>
				Duration: half day </br>
				Family Friendly </p>
			</div>
          </div>
<a name="bike"></a>
		  <hr>
		  <div class="row">
            <div class="span4">
              <h3>
                Biking
              </h3>
            </div>
            <div class="span8">
              <p><b>
                You will see lots of people on bikes (keep an eye out for them while driving!).  If you'd 
				like to join them here are few routes for the fit and adventurous. It is likely that one 
				of these hikes will become a group activity.  The following rides and descriptions are from
				Bay Area Bike Rides Deck.</b>
              </p>
			  <p> <a href="https://mapsengine.google.com/map/edit?mid=z12SzOS65AMk.k10jRTDgsvUs" target="_blank"> 
			  Map of listed bike ride starting points </a> </p></br>
            </div>          
		</div>
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="{{ url_for('static', filename='chilenobike.pdf') }}" target="_blank">Chileno Valley</a>
              </h4>
            </div>
            <div class="span8">
				<p> This relative flat 47 mile ride start at Helen Putnam Regional Park, just outside of
				Petaluma, and goes through rolling, oak-covered hills on remote, lightly travelled roads where
				contented cows graze.  Residents of rural Petaluma count on the dairy and poultry businesses
				for their livelihood.  On Hick Valley Road is the one room Lincoln School, in service since 8172;
				attendance varies from 9 to 20 children.  In the spring, Chileno Valley turns orange and yellow
				California poppies and other wild flowers.  Marshall-Petalum Road, while not as well known as 
				Chileno Valley Road, has some of the finest riding in the North Bay.  This narrow two-lane country
				road heading through the coastal range sees almost no traffic. It offers hilltop views of Tomales
				Bay and winds through Verda Canyon alongside gently flowing creeks hidden by willows and the 
				yellow-flowered Scotch broom. Many of the dairy farmers came from Switzerland generations ago
				and stayed. Don't miss downtown Petaluma, known for its Victorian buildings and where Francis 
				Ford Coppola has films at least two movies.</p>
			</div>
          </div>
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="{{ url_for('static', filename='sonomabike.pdf') }}" target="_blank">Sonoma</a>
              </h4>
            </div>
            <div class="span8">
				<p> Rolling hills of endless vineyards, secluded canyons, burbling creeks, and a redwood glen
				make this 42 mile journey worth the occasional steep grade.  Complete the visit with a meal in
				Sonoma's historic town square, and try the wine. Although this route has some hills, a short 
				casual ride can by taken by visiting just Glen Ellen.  It can be hot and crowded in the summer;
				spring and fall months have the best weather.  Traffic can be heavy on Sonoma Highway, so for 
				the safest trip in the fairest weather, ride early.</p>
			</div>
          </div>
          <div class="row">
            <div class="span3 offset1">
              <h4>
              <a href="{{ url_for('static', filename='pointreyesbike.pdf') }}" target="_blank">Point Reyes</a>
              </h4>
            </div>
            <div class="span8">
				<p> Point Reyes pennisula, separated from Fairfax by redwood-covered hills, gives cyclists
					a challenging 54 mile ride over rolling terrain near the Pacific coast's picturesque, rugged
					shoreline.  The rural town for Olema on Highway 1 retains its country charm even with all of
					the growth in the San Francisco Bay Area over the past 40 years.  The Cross Marin Recreational 
					Path offers car free ride along tree-lined Lagunitas Creek.  It's a spectacular sight in the fall
					when the leaves are turning.</p>
			</div>
          </div>
<hr>
		  </div>
      </div>
    </div>
  </section>

{% endblock %}
