{# TRAVEL / GETTING-HERE #}
{% extends "base.html" %}
{% set active_page = "Travel" %}
{% block content %}


  <!-- .................................... $Getting Here .................................... -->
  <section class="section-content section-news" id="section-news">
    <div class="container">
		<div class="row">
			<div class="span4">
			<h3> Getting Here </h3> </br>
			</div>
		</div>	
      <div class="row">
        <div class="span10 offset1">
		<div class="row">
            <div class="span2">
              <h3>
                Planes
              </h3>
			  </br>
            </div>
            <div class="span8">
              <p> Although Santa Rosa is the closest airport, the best fares will be into San Francisco’s airport (<a target="_blank" href="http://www.flysfo.com/">SFO</a>) or Oakland (<a target="_blank" href="http://www.flyoakland.com/">OAK</a>). Please remember this is Memorial Day weekend! The wedding is not until Sunday evening so hopefully this gives you some flexibility for travel dates. 
			  </p>
			</div>
          </div>
          <hr>
		<div class="row">
            <div class="span2">
              <h3>
                Trains
              </h3>
			  </br>
            </div>
            <div class="span8">
              <p> We wish!  The <a target="_blank" href="http://main.sonomamarintrain.org/">Sonoma Marin Area Rail Transit (SMART)</a> is coming but not in time for our wedding.
			  </p>
			</div>
          </div>
          <hr>
		<div class="row">
            <div class="span2">
              <h3>
                Automobiles
              </h3>
			  </br>
            </div>
            <div class="span8">
              <p> The best option for getting around with no restrictions is to rent a car. If you don’t want to rent a car, there is a <a target="_blank" href="http://www.airportexpressinc.com/schedules.php">$35 shuttle</a> that runs from SFO to Petaluma and a taxi from Petaluma to Westerbeke Ranch should run about the same.</p> 
			  <p>Petaluma is about an hour north of San Francisco, 1.5 hours from SFO (with a little traffic).</br> <a target="_blank" href="https://www.google.com/maps/dir/San+Francisco+International+Airport,+San+Francisco,+CA+94128/Petaluma,+CA/@37.9252636,-122.7426012,10z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x808f778c55555555:0xa4f25c571acded3f!2m2!1d-122.386212!2d37.616404!1m5!1m1!1s0x80844a8cc2740c4d:0xabffb835642d62f2!2m2!1d-122.6366524!2d38.232417">Map: SFO to Petaluma </a> </p>
			  <p>Westerbeke Ranch is in Sonoma, about a 20 min drive east from Petaluma.</br><a target="_blank" href="https://www.google.com/maps/dir/Petaluma,+CA/Westerbeke+Ranch+Conference,+2300+Grove+St,+Sonoma,+CA+95476/@38.3488139,-122.6659136,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x80844a8cc2740c4d:0xabffb835642d62f2!2m2!1d-122.6366524!2d38.232417!1m5!1m1!1s0x8085ad94aece366f:0xf8a0fd77c6e5b8dd!2m2!1d-122.519898!2d38.292069">Map: Petaluma to Westerbeke Ranch </a> </p>

			</div>
          </div>

		</div>
    </div>
  </section>

{% endblock %}
