<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Home | David and Carolyn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="ppparticularity.com" name="author">
  <link href="css/style-t4.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style-t4.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/libs/modernizr.min.js') }}"></script>
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body class="home">
  <!-- .................................... $header .................................... -->
  <header class="navbar-fixed-top">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <i class="icon-reorder"></i>
          </a>
          <a class="brand span3" href="index.html">
<!--            <img alt="" src="img/logo-t1.png">-->
          </a>
          <nav class="nav-collapse collapse">
            <ul class="nav primary-nav pull-left">
              <li class="active"><a href="index.html">D&C</a></li>
              <li><a href="schedule.html">Schedule</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Travel
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="gettinghere.html">Getting Here</a></li>
                  <li><a href="stayinghere.html">Staying Here</a></li>
                  <li><a href="gettingaround.html">Getting Around</a></li>
                </ul>
              </li>              
              <li><a href="rsvp.html">RSVP</a></li>
			  <li><a href="photos.html">Photos</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  More Information
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="explore.html">Explore</a></li>
                  <li><a href="weather.html">Weather</a></li>
                  <li><a href="maps.html">Maps</a></li>
                  <li><a href="registry.html">Registry</a></li>
                </ul>
              </li>
              <li><a href="http://trikeorama.com/wedding/dev/one-page-wonder.pdf">One Page Wonder</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- .................................... $jumbotron .................................... -->
  <section class="section-content section-jumbotron" id="section-jumbotron">
    <div class="container">
      <div class="row">
        <div class="span5 offset1">
          <img alt="" src="{{ url_for('static', filename='img/DC-oval3.png') }}">
        </div>
        <div class="span5 _offset1">
          <div class="slogan">
            <h1>David and Carolyn</h1>
            <h2>are getting married!</h2>
            <p></p>
			<p>
              <a class="btn btn-large btn-primary" href="rsvp.html">RSVP!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- .................................... $news on carousel .................................... -->
  <section class="section-content section-news-on-carousel" id="section-news-on-carousel">
    <div class="container">
      <div class="row">
        <div class="span3">
          <h2 class="section-title">
            News
            <small>Check here for the latest updates regarding our wedding.</small>
          </h2>
          <p>
            <a class="btn btn-small btn-primary" href="news.html">
              <i class="icon-search"></i>
              View all
            </a>
          </p>
        </div>
        <div class="span9">
          <div class="row">
            <div class="carousel carousel-mini slide" data-pause="true" id="myCarouselNews">
              <div class="carousel-nav">
                <div class="btn-group">
                  <a class="btn btn-link btn-small" data-slide="prev" href="#myCarouselNews">
                    <i class="icon-chevron-left"></i>
                  </a>
                  <a class="btn btn-link btn-small" data-slide="next" href="#myCarouselNews">
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
              <div class="carousel-inner">
                <div class="item active">
                  <div class="span3">
                    <h4>
                      <a href="schedule.html">New Weekend Events</a>
                    </h4>
                    <p>We have confirmed two activites on Saturday, May 24th. Choose between a morning hike in Point Reyes or a bike ride.</p>
                    <p>
                      <a class="btn btn-small btn-primary" href="schedule.html">
                        <i class="icon-search"></i>
                        read more
                      </a>
                    </p>
                  </div>
                  <div class="span3">
                    <h4>
                      <a href="contact.html">Babysitting available</a>
                    </h4>
                    <p>On-site babysitting during the ceremony and reception at Westerbeke Ranch is available.  Please contact us for more information.</p>
                    <p>
                      <a class="btn btn-small btn-primary" href="contact.html">
                        <i class="icon-search"></i>
                        read more
                      </a>
                    </p>
                  </div>
                  <div class="span3">
                    <h4>
                      <a href="unknownpage.html">Breaking News</a>
                    </h4>
                    <p>Carolyn loves David.</p>
                    <p>
                      <a class="btn btn-small btn-primary" href="unknownpage.html">
                        <i class="icon-search"></i>
                        read more
                      </a>
                    </p>
                  </div>
                </div>
                <div class="item">
                  <div class="span3">
                    <h4>
                      <a href="unknownpage.html">News 1</a>
                    </h4>
                    <p>Text.</p>
                    <p>
                      <a class="btn btn-small btn-primary" href="unknownpage.html">
                        <i class="icon-search"></i>
                        read more
                      </a>
                    </p>
                  </div>
                  <div class="span3">
                    <h4>
                      <a href="unknownpage.html">News 2</a>
                    </h4>
                    <p>Text.</p>
                    <p>
                      <a class="btn btn-small btn-primary" href="unknown.html">
                        <i class="icon-search"></i>
                        read more
                      </a>
                    </p>
                  </div>
                  <div class="span3">
                    <h4>
                      <a href="unknownpage.html">News 3</a>
                    </h4>
                    <p>Text.</p>
                    <p>
                      <a class="btn btn-small btn-primary" href="unknownpage.html">
                        <i class="icon-search"></i>
                        read more
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- .................................... $footer .................................... -->
  <footer class="section-color-primary">
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="widget">
            <address>
              <strong>David & Carolyn</strong>
              <br>
              San Francisco, CA
              <br>
            </address>
          </div>
        </div>
        <div class="span6">
          <div class="widget">
            <h5>Contact us</h5>
            <form class="form-vertical" id="contact-form">
              <div class="control-group">
                <label for="contact-name-surname"></label>
                <input class="span6" id="contact-name-surname" placeholder="name surname" type="text">
                <span class="help-inline">Insert name and surname</span>
              </div>
              <div class="control-group">
                <label for="contact-email"></label>
                <input class="span6" id="contact-email" placeholder="email" type="email">
                <span class="help-inline">Insert valid email</span>
              </div>
              <label for="contact-message"></label>
              <textarea class="span6" id="contact-message" name="message" placeholder="message" rows="5"></textarea>
              <button class="btn btn-small" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- .................................... $post-footer .................................... -->
  <div class="post-footer section-content section-content-mini section-color-graydark">
    <div class="container">
      <p class="pull-right">
        Designed by
        <a href="http://ppparticularity.com">ppparticularity</a>
      </p>
      <p>&copy; Simiot 2013 - All rights reserved</p>
    </div>
  </div>
  <!-- .................................... $scripts .................................... -->
  <script src="js/libs/jquery.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="js/libs/jquery.ui.map.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/libs/jquery.fancybox.min.js"></script>
  <script src="js/libs/jquery.hoverdir.min.js"></script>
  <script src="js/libs/jquery.isotope.min.js"></script>
  <script src="js/libs/jquery.masonry.min.js"></script>
  <script src="js/libs/jquery.fitvids.min.js"></script>
  <script src="js/libs/jquery.flexslider.min.js"></script>
  <script src="js/script.js"></script>
</body></html>
