{% extends "base.html" %}
{% set active_page = "D&C" %}
{% block content %}
  <!-- .................................... $jumbotron .................................... -->
  <section class="section-content section-jumbotron" id="section-jumbotron">
    <div class="container">
      <div class="row">
        <div class="span5 offset1">
          <img alt="" src="{{ url_for('static', filename='img/DC-oval3.png') }}">
        </div>
        <div class="span5 _offset1">
          <div class="slogan">
            <h1>David and Carolyn</h1>
            <h2>are getting married!</h2>
            <p></p>
                        <p>
              <a class="btn btn-large btn-primary" href="rsvp">RSVP!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- .................................... $news on carousel .................................... -->

<section class="section-content section-news" id="section-news">
    <div class="container">
      <div class="row">
        <div class="span12">
		<div class="row">
			<div class="span6">
			<h3> Latest News and Updates... </h3> </br>
			</div>
		</div>		
		<div class="row">
			<div class="span4" align="center">
            <h4><u>Date</u></h4>
            </div>
            <div class="span8">
              <h4><u>Information</u></h4>
			</div>		
		</div>
          <div class="row">
            <div class="span4" align="center">
              <h4>
                April 6th              </h4>
            </div>
            <div class="span8">
              <h4>Registry</h4>
              <p> We finally have registries set up on <a href="http://www.amazon.com/registry/wedding/36186HYWCEDV2" target="_blank">Amazon</a> and <a href="http://www.sokindregistry.org/2919" target="_blank">SoKind</a>. </p>
			</div>
          </div>
          <div class="row">
            <div class="span4" align="center">
              <h4>
                March 3rd
              </h4>
            </div>
            <div class="span8">
              <h4>Child Care</h4>
              <p> The wedding and reception will mostly be an adult affair, however, on-site child care at Westerbeke Ranch will be available (we need your RSVP to confirm!).  Please contact us for more information.			  </p>
			</div>
          </div>

		  </div>
	  </div>
	  </div>
</section>
		  
		  
{#
  <!-- .................................... $footer .................................... -->
  <footer class="section-color-primary">
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="widget">
            <address>
              <strong>David & Carolyn</strong>
              <br>
              San Francisco, CA
              <br>
            </address>
          </div>
        </div>
        <div class="span6">
          <div class="widget">
            <h5>Contact us</h5>
            <form class="form-vertical" id="contact-form">
              <div class="control-group">
                <label for="contact-name-surname"></label>
                <input class="span6" id="contact-name-surname" placeholder="name surname" type="text">
                <span class="help-inline">Insert name and surname</span>
              </div>
              <div class="control-group">
                <label for="contact-email"></label>
                <input class="span6" id="contact-email" placeholder="email" type="email">
                <span class="help-inline">Insert valid email</span>
              </div>
              <label for="contact-message"></label>
              <textarea class="span6" id="contact-message" name="message" placeholder="message" rows="5"></textarea>
              <button class="btn btn-small" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>
#}
  <!-- .................................... $post-footer .................................... -->
  <div class="post-footer section-content section-content-mini section-color-graydark">
    <div class="container">
      <p class="pull-right">
        <a href="/credits">Credits</a>
      </p>
      <p>David &amp; Carolyn - San Francisco, CA | <a href="mailto:david&carolyn@trikeorama.com">Contact Us</a></p>
    </div>
  </div>


{% endblock %}
