{% extends "base.html" %}
{% set active_page = "Password" %}
{% block content %}

 <section class="section-content section-news" id="section-news">
    <div class="container">
      <div class="row">
        <div class="span12">
<div class="row">
<div class="span6 offset2">


{% for message in form.password.errors %}
<div class="flash"><strong>{{ message }}</strong></div><br/>
{% endfor %}

<form action="{{ url_for('password') }}" method="post">
{{ form.hidden_tag() }}

{{ form.password.label }}
{{ form.password }}

{{ form.submit }}
</form>

        </div>
      </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
