{% extends "base.html" %}
{% set active_page = "More Information" %}
{% block content %}


  <!-- .................................... $registry .................................... -->
  <section class="section-content section-news" id="section-news">
    <div class="container">
      <div class="row">
        <div class="span12">
		<div class="row">
			<div class="span4">
			<h3>  </h3> </br>
			</div>
		</div>		
		<div class="row">
            <div class="span8 offset2" align="center">
			 <h4>We have registries set up on <a href="http://www.amazon.com/registry/wedding/36186HYWCEDV2" target="_blank">Amazon</a> and <a href="http://www.sokindregistry.org/2919" target="_blank">SoKind</a>. </br>Both can also be searched for using our names.</h4>
			</div>
          </div>
    
    </div>	
	</div>
    </div>
  </section>
{% endblock %}
