{% extends "base.html" %}
{% set active_page = "Schedule" %}
{% block content %}


  <!-- .................................... $schedule .................................... -->
  <section class="section-content section-news" id="section-news">
    <div class="container">
      <div class="row">
        <div class="span12">
		<div class="row">
			<div class="span4">
			<h3> Schedule </h3> </br>
			</div>
		</div>		
		<div class="row">
            <div class="span8 offset2">
			Please see below for the main events of the weekend.  We have also 
			compiled a great list of choose your own adventure activities that can be found on the 
			<a href="{{ url_for('explore_sonoma') }}">Local Info/Explore Sonoma</a> page.  
			If any of these turn into a more organized outing, we will move 
			them over to this page.  Check back for updates.
			</div>
          </div>
          <hr>
		<div class="row">
            <div class="span4">
              <h3>
                Friday, May 23rd
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="span4" align="center">
              <h4>
                7:00pm
              </h4>
            </div>
            <div class="span8">
              <h4>Dinner</h4>
              <p> For those of you that have already made your way to Petaluma, we will be gathering for an informal meal on Friday evening. Location to be determined based on how many people are in town - let us know your travel plans!
			  </p>
			</div>
          </div>
          <hr>
          <div class="row">
            <div class="span4">
              <h3>
                Saturday, May 24th
              </h3>
            </div>
            <div class="span8">
            </div>
          </div>
          <div class="row">
            <div class="span4" align="center">
              <h4>
                6:30pm
              </h4>
            </div>
            <div class="span8">
              <h4>Dinner</h4>
              <p>After a day of traveling or exploring, gather to meet new and old friends before the wedding. All wedding guests (and children) are invited. </p>
			  
			  
			  <p><b>Petaluma Woman's Club</b> </br>
			  518 B Street </br>
			  Petaluma, CA 94952 </br>
			  (707) 762-4271 </br>
			  <a href="https://www.google.com/maps/place/518+B+St/@38.231387,-122.640764,17z/data=!3m1!4b1!4m2!3m1!1s0x8085b6a66bc36685:0x595ebdf4f457e5b6" target="_blank">Map</a>/
			  <a href="https://www.google.com/maps/place/518+B+St/@38.231306,-122.640473,3a,90y,289h,90t/data=!3m4!1e1!3m2!1sJOKIR9vYbrYAY-I3g47uAg!2e0!4m2!3m1!1s0x8085b6a66bc36685:0x595ebdf4f457e5b6!6m1!1e1" target="_blank">
			  Street View</a>
			  </p> 


			  </div>
          </div>
          <hr>
          <div class="row">
            <div class="span4">
              <h3>
                Sunday, May 25th
              </h3>
            </div>
            <div class="span8">
            </div>
          </div>
          <div class="row">
            <div class="span4" align="center">
              <h4>
                4:00pm
              </h4>
            </div>
            <div class="span8">
              <h4>Wedding</h4>
              <p>Our wedding ceremony and reception will both be held at 
			  Westerbeke Ranch in Sonoma.  The ceremony will be at 4:00pm and 
			  cocktails and dinner will follow.  Dancing ends at 10 pm but guests 
			  can continue to visit with each other later into the evening.</p>
			  
			  <p><b>Westerbeke Ranch</b> </br>
			  2300 Grove Street </br>
			  Sonoma, CA 95476 </br>
			  (707) 996-7546 </br>
			  <a href="https://www.google.com/maps/place/2300+Grove+St/@38.29312,-122.519554,17z/data=!3m1!4b1!4m2!3m1!1s0x8085ad94975cd901:0x2e3db5a5ef873ca2" target="_blank">
			  Map </a>/<a href="http://www.westranch.com/contact.php" target="_blank"> 
			  Directions</a>/
			  <a href="https://www.google.com/maps/@38.292084,-122.518009,3a,75y,347.36h,76.05t/data=!3m4!1e1!3m2!1sDhuURUJjBgstzn09EoY81g!2e0!6m1!1e1" target="_blank">
			  Street View</a></p> 
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="span4">
              <h3>
                Monday, May 26th
              </h3>
            </div>
            <div class="span8">
            </div>
          </div>
          <div class="row">
            <div class="span4" align="center">
              <h4>
                TBD
              </h4>
            </div>
            <div class="span8">
              <h4>One Last Chance?</h4>
              <p>We expect most people will be heading home today. A Monday gathering with those who have later travel plans is a possibility but there are no concrete plans at this time.  Check back for updates closer to the wedding.</p>
			  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
