{# TRAVEL / STAYING-HERE #}
{% extends "base.html" %}
{% set active_page = "Travel" %}
{% block content %}


  <!-- .................................... $Staying Here .................................... -->
  <section class="section-content section-news" id="section-news">
    <div class="container">
      <div class="row">
        <div class="span12">
		<div class="row">
			<div class="span4">
			<h3> Staying Here </h3> </br>
			</div>
		</div>
		   <div class="row">
            <div class="span8 offset2">
			Petaluma is our Wedding HQ for the weekend.   Petaluma has four hotels and plenty of vacation homes for rent via VRBO and AirBnB. There is also an option to spend one night (Sunday May 25th) at the wedding venue, Westerbeke Ranch. David and Carolyn will be at the Metro Hotel on Friday and Saturday, and then the Cabins at Westerbeke Ranch for Sunday night.
			</div>
          </div>
          <hr>
		<div class="row">
            <div class="span4">
              <h3>
                Hotels
              </h3>
			  </br>
            </div>
          </div>
          <div class="row">
            <div class="span4" align="center">
              <h4> <a href="http://www.sheratonsonoma.com/" target="_blank">
                Sheraton Sonoma County Hotel</a>
              </h4>~$210/night<br/>
            </div>
            <div class="span8">
              <p> This is the most upscale of Petaluma's hotels, centrally located 3 minutes by car from downtown Petaluma, 20 minutes from Westerbeke Ranch, and with convenient freeway access.  They have an outdoor swimming pool, lounge, restaurant, and bar. 
			  </p>
			</div>
          </div>
		</br>
          <div class="row">
            <div class="span4" align="center">
              <h4><a href="http://book.bestwestern.com/bestwestern/US/CA/Petaluma-hotels/BEST-WESTERN-Petaluma-Inn/Hotel-Overview.do?propertyCode=05085" target="_blank">
                Best Western Petaluma Inn</a>
              </h4>~$100/night<br/>
            </div>
            <div class="span8">
              <p> This hotel is 4 minutes by car from downtown Petaluma, 20 minutes from Westerbeke Ranch, and has very convenient freeway access. This hotel is the closest one to the Petaluma fairgrounds if you are taking the shuttle from SFO.  They have an outdoor swimming pool and breakfast is included.
			  </p>
			</div>
          </div>
		  </br>
          <div class="row">
            <div class="span4" align="center">
              <h4><a href="http://www.qualityinn.com/hotel-petaluma-california-CA056" target="_blank">
                Quality Inn</a>
              </h4>~$170/night<br/>
            </div>
            <div class="span8">
              <p> The Quality Inn is a bit further north, 10 minutes by car from downtown Petaluma, 25 mins from Westerbeke Ranch, and very convenient freeway access. They also have an outside pool.
			  </p>
			</div>
          </div>
		  </br>
		  </br>
          <div class="row">
            <div class="span4" align="center">
              <h4><a href="https://secure.rezovation.com/Reservations/CheckAvailability.aspx?s=8rk6dpgWxG" target="_blank">
                Metro Hotel and Cafe</a>
              </h4>~$130/night<br/>
            </div>
            <div class="span8">
              <p> At last check, the Airstream room and their offsite cottages were still available.
			  </p>
			</div>
          </div>
		  </br>
		  </br>
          <div class="row">
            <div class="span4" align="center">
              <h4><a href="http://westranch.com/lodging" target="_blank">
                Cabins at Westerbeke Ranch</a>
              </h4>$100/Person<br/>
            </div>
            <div class="span8">
              <p> For Sunday Night only!  Join us for a night at the cabins at Westerbeke Ranch.  There are 17 cabins with various bed configurations. If this is an option you would like to explore, you must <a href="mailto:david&carolyn@trikeorama.com">contact us</a> to make the arrangements.
			  </p>
			</div>
          </div>
          <hr>
          <div class="row">
            <div class="span4">
              <h3>
                Comforts of Home
              </h3>
			  </br>
            </div>
            <div class="span8">
            </div>
          </div>
          <div class="row">
            <div class="span4" align="center">
              <h4><a href="https://www.airbnb.com/s/Petaluma--CA--United-States" target="_blank"> AirBnB </a></br>
			  <a href="http://www.vrbo.com/vacation-rentals/usa/california/wine-country/sonoma-county/petaluma" target="_blank"> VRBO - Vacation Rental By Owner </a>
              </h4>
            </div>
            <div class="span8">
              <p>AirBnB and VRBO offer a variety of places to stay (private rooms and entire homes) in Petaluma and Sonoma. If you'd like our help organizing a group (e.g. who else is coming), please <a href="mailto:david&carolyn@trikeorama.com">contact us</a>.</p>
            </div>
          </div>
        </div>
<!--
		<div class="row">
            <div class="span8 offset2">		
		
			<form action="#" method="post">
			Enter your arrival/departure dates and number of guests, and we can do a quick search for you right here on the website!<br/>
			Arrival
			<input type="text" name="arr_date"/><br/>
			Departure
			<input type="text" name="dep_date"/>

<select name="guest_count" style="width: 60px">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
</select>

			<input type="submit" name="submit" value="Enter"/>
			</form>
			</div>
		</div>
-->
		</div>
    </div>
  </section>

{% endblock %}
