{% extends "base.html" %}
{% set active_page = "Local Info" %}
{% block content %}

 <!-- .................................... $Weather .................................... -->
  <section class="section-content section-news" id="section-news">
    <div class="container">
		<div class="row">
			<div class="span4 offset2">
			<h3> Weather </h3> </br>
			</div>
		</div>
	<div class="row">
        <div class="span8 offset2">
			<p> The key to dressing in the San Francisco Bay area is layers!  In San Francisco, once the sun sets, the temperature drops.  Nights are warmer in the north bay (where we will be) but we still recommend bringing a sweater with you.  The weather Memorial Day weekend could be "cool" (in the 60's) or "warm" (in the 80's) and there is a small chance it could rain.  We recommend checking the weather a week or so before the wedding - the forecast should give you a good feel for the conditions by then.</p>
			<p> Weather permitting, the ceremony and reception will be outside.  Heat lamps will be used if the evening is expected to be on the cooler side.
			<hr>
		<div class="row">
            <div class="span3" align="center">
              <h3>
                Petaluma
              </h3>
            </div>
            <div class="span5" align="center">
            <span style="display: block !important; width: 320px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:94952.1.99999&bannertypeclick=wu_clean2day" title="Petaluma, California Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_cond&airportcode=KO69&ForcedCity=Petaluma&ForcedState=CA&zip=94952&language=EN" alt="Find more about Weather in Petaluma, CA" width="300" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:94952.1.99999&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>  
			</div>
          </div>
          <hr>
		<div class="row">
            <div class="span3" align="center">
              <h3>
                Sonoma
              </h3>
			  </br>
            </div>
            <div class="span5" align="center">
              <span style="display: block !important; width: 320px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:95476.1.99999&bannertypeclick=wu_clean2day" title="Sonoma, California Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_cond&airportcode=KO69&ForcedCity=Sonoma&ForcedState=CA&zip=95476&language=EN" alt="Find more about Weather in Sonoma, CA" width="300" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:95476.1.99999&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>
			</div>
          </div>
          <hr>
		<div class="row">
            <div class="span3" align="center">
              <h3>
                San Francisco
              </h3>
			  </br>
            </div>
            <div class="span5" align="center">
              <span style="display: block !important; width: 320px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:94114.1.99999&bannertypeclick=wu_clean2day" title="San Francisco, California Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_cond&airportcode=KSFO&ForcedCity=San Francisco&ForcedState=CA&zip=94114&language=EN" alt="Find more about Weather in San Francisco, CA" width="300" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:94114.1.99999&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>
			</div>
          </div>


		</div>
	  </div>
    </div>
  </section>



{% endblock %}
